/*
 * styles.scss
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,300italic);
/*
 * variables.scss
 */
/*
 * html.scss
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #CADFAA;
  font-family: 'Open Sans', sans-serif; }

/*
 * header.scss
 */
header {
  background-color: #CADFAA; }
  header .navbar {
    border-bottom: 1px solid #5A5A5A;
    margin-bottom: 0; }
    header .navbar .navbar-toggle {
      border-color: gray;
      background-color: #dadada; }
      header .navbar .navbar-toggle .icon-bar {
        background-color: #5A5A5A; }
    header .navbar a {
      color: #5A5A5A; }
      header .navbar a:hover {
        background-color: transparent; }

/*
 * content.scss
 */
main #divMap #map {
  width: 100%;
  height: 80%;
  transition: height 0.4s; }
  main #divMap #map a[href^='http://maps.google.com/maps'],
  main #divMap #map a[href^='https://maps.google.com/maps'],
  main #divMap #map .gmnoprint a,
  main #divMap #map .gmnoprint span,
  main #divMap #map .gm-style-cc,
  main #divMap #map .gmnoprint div {
    display: none !important;
    background: none !important; }
main #divMap .overlay {
  width: 100%;
  padding: 2.2em 0;
  height: 80%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  background-color: transparent;
  text-align: center;
  transition: all 0.4s; }
  main #divMap .overlay.front {
    z-index: 999; }
  main #divMap .overlay h1 {
    color: #edf4e2; }
  main #divMap .overlay p {
    color: #edf4e2;
    font-style: italic; }
main #divMap.min #map {
  height: 25%; }
main #divMap.min .overlay {
  opacity: 1;
  height: 25%;
  background-color: rgba(30, 30, 30, 0.8); }
main #divRequestService {
  background-color: #fff; }
  main #divRequestService h2 {
    margin: 0.5em;
    font-size: 1.5em; }
  main #divRequestService #formRequestService {
    margin: 0.5em; }
    main #divRequestService #formRequestService input {
      font-size: 1.2em;
      border: none; }
    main #divRequestService #formRequestService button {
      background-color: transparent;
      border: none; }
main #divAddress {
  display: none; }

/*# sourceMappingURL=main.css.map */
