/*
 * content.scss
 */

main {
	#divMap {
		#map {
			width: 100%;
			height: $map-height;
			transition: height 0.4s;
			// Hide google maps logos
			a[href^='http://maps.google.com/maps'],
			a[href^='https://maps.google.com/maps'],
			.gmnoprint a, 
			.gmnoprint span, 
			.gm-style-cc,
			.gmnoprint div {
				display: none !important;
				background: none !important;
			}
		}

		.overlay {
			width: 100%;
			padding: 2.2em 0;
			height: $map-height;
			position: absolute;
			z-index: -1;
			opacity: 0;
			background-color: transparent;
			text-align: center;
			transition: all 0.4s;
			&.front {
				z-index: 999;
			}
			h1 {
				color: $light-green;
			}
			p {
				color: $light-green;
				font-style: italic;
			}
		}

		&.min {
			#map {
				height: $map-height-min;
			}
			.overlay {
				opacity: 1;
				height: $map-height-min;
				background-color: rgba(30, 30, 30, 0.8);
			}
		}
	}

	#divRequestService {
		background-color: #fff;

		h2 {
			margin: 0.5em;
			font-size: 1.5em;
		}

		#formRequestService {
			margin: 0.5em;

			input {
				font-size: 1.2em;
				border: none;
			}
			button {
				background-color: transparent;
				border: none;
			}
		}
	}

	#divAddress {
		display: none;
	}

}


