/*
 * header.scss
 */

header {
	background-color: $base-green;
	
	.navbar {
		border-bottom: 1px solid #5A5A5A;
		margin-bottom: 0;

		.navbar-toggle {
			border-color: $light-gray;
			background-color: $lightest-gray;
			.icon-bar {
				background-color: $base-gray;
			}
		}

		a {
			color: #5A5A5A;
			&:hover {
				background-color: transparent;
			}
		}
	}
}

