/*
 * variables.scss
 */

// Colors
$base-green: #CADFAA;
$light-green: lighten($base-green, 15%);
$lighter-green: lighten($base-green, 35%);
$lightest-green: lighten($base-green, 50%);

$base-gray: #5A5A5A;
$light-gray: lighten($base-gray, 15%);
$lighter-gray: lighten($base-gray, 35%);
$lightest-gray: lighten($base-gray, 50%);

// Heights
$map-height: 80%;
$map-height-min: 25%;

